<div class="divider">
</div>

<div class="credits">
  <div class="entry"><div>Reporter:</div> Michael Bodley  &bull; <a href="mailto:mbodley@sfchronicle.com">mbodley@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/michael_bodley" target="_blank">@michael_bodley</a></div>

  <div class="entry"><div>Interactive producer:</div> Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>

</div>

</div>


<footer class="nav-bottom">
  <a class="logo" href="http://www.sfchronicle.com">
    <img src="./assets/logos/sf_logo_white.png"></img>
  </a>
</footer>
