@red: #E32B2B;//#3C87CF;
@dark-red: #c11a1a;
@gray-blue: #899D9E;
@dark-gray-blue: #233738;//#3D5152;

body {
  font-family: @block-graphics;
}

iframe {
  border: 0 !important;
}

#title_social_links {
  text-align: center;
  margin: auto;
  padding-top: 20px;

  a {
    color: @light-gray;
    text-align: center;
    &:hover {
      color: white;
    }
    @media @mobile {
      color: @dark-gray;
      &:hover {
        color: @dark-gray;
      }
    }
  }
  .fa {
    font-size: 20px;
    vertical-align: center;
  }
  .link {
    text-align: center;
    float: none;
    display: inline-block;
  }
}

.byline {
  color: @light-gray;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
  @media @tablet {
    color: @dark-gray;
  }
  @media @mobile {
    font-size: 14px;
    // color: @dark-gray;
  }
  a {
    cursor: pointer;
    color: @light-gray;
    &:hover {
      color: white;
    }
    @media @tablet {
      color: @dark-gray;
      &.hover {
        color: @light-gray;
      }
    }
    text-decoration: underline;
  }
}

#stick-ph {
  display: none;
}

.related-link {
  i {
    color: @dark-red;
  }
  padding-left: 10px;
}

circle {
  -webkit-transition: opacity 500ms linear;
  -ms-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.mobile-only {
  display: none;
  @media @mobile {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 20;
  }
}

.day-panel {
  opacity: 0.3;
  // padding-bottom: 600px;
  -webkit-transition: opacity 200ms linear;
  -ms-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
  &.active {
    opacity: 1;
  }
}

.map-panel {
  padding-bottom: 600px;
}

// #stick-me {
.fixed-map {
  position: fixed;
  width: 100%;
  z-index: 99;
  left: 0;
  top: 0;
  z-index: -1;
}

.top-container {
  position: relative;
  top: 0;
  z-index: 80;
  text-align: left;
  width: 50%;
  color: white;
  padding: 30px;
  padding-bottom: 110px;
  padding-top: 200px;
  padding-left: 50px;
  @media @laptop {
    padding-top: 80px;
    width: 40%;
  }
  @media @tablet-horiz {
    width: 50%;
  }
  @media @tablet {
    width: 60%;
  }
  @media @mobile {
    width: 100%;
    top: 300px;
    padding: 0;
  }
}

.tooltip-map {
  width: 300px;
  position: absolute;
  font-family: @block-graphics;
  font-size: 14px;
  background: white;
  padding: 5px 10px;
  border: @light-gray 1px solid;
  visibility: hidden;
  z-index:40;
  .bold {
    font-family: @med-graphics;
  }
  .desc {
    font-size: 14px;
    padding-top: 10px;
  }
}

.map-container {
  position: relative;
}

.map-placeholder {
  height: 760px;
  z-index:-100;
}

.protest-box {
  position: relative;
  width: 35%;
  margin-left: 220px;
  padding-top: 500px;
  @media @tablet {
    margin-left: 180px;
    width: 45%;
  }
  // margin: auto;
  @media @mobile {
  //   clear: both;
  //   right: 0;
  //   position: relative;
  //   padding: 0;
  //   // top: 200px;
  //   max-width: 90%;
    width:90%;
    margin: auto;
    padding-top: 700px;
  }
  text-align: left;
  font-size: 15px;
  // .day-hed {
  //   font-size: 18px;
  //   text-align: center;
  //   font-family: @boldest-graphics;
  //   color: @red;
  //   padding: 20px 0;
  //   background: rgba(255,255,255,0.7);
  //   margin-top: 70px;
  // }
  .protest-day {
    background: rgba(255,255,255,0.7);
    padding: 20px;
  }
  .protest-name {
    // font-size: 15px;
    font-family: @med-graphics;
    border-bottom: 1px solid black;
  }
  .protest-desc {
    padding: 5px 0;
    padding-bottom: 20px;
  }

  .bold-class {
    font-family: @med-graphics;
  }
}

.day {
  // background: rgba(255,255,255,0.2);
  @media @mobile {
    background: rgba(255,255,255,0.8);
    padding: 0;
  }
}

#display-day {
  font-size: 40px;
  font-family: @boldest-graphics;
  color: @dark-red;
  @media @tablet {
    font-size: 30px;
  }
}

.day, .display-day {
  font-family: @block-graphics;
  // background: darken(@red,10%);
  color: black;
  text-align: center;
  width: 180px;
  padding: 10px 0;
  margin: 20px auto;
  font-size: 35px;
  // border-radius: 5px;
  position: fixed;
  top: 40px;
  left: 20px;
  @media @tablet {
    width: 160px;
    font-size: 25px;
  }
  @media @mobile {
    width: 100%;
    top: 0;
    margin: 0;
    left: 0; right: 0;
    font-size: 25px;
    z-index:20;
    padding: 0;
    // padding-top:20px;
    -webkit-box-shadow: 0 0 6px 0 @dark-gray;
    -moz-box-shadow: 0 0 6px 0 @dark-gray;
    box-shadow: 0 0 6px 0 @dark-gray;
  }
}
.day {
  visibility:hidden;
  &.show {
    visibility: visible;
  }
}

.logo-link {
  padding-top: 9px;
}

.chatter {
  font-size: 17px;
  // padding-top: 30px;
  max-width: 900px;
  font-family: @med-graphics;
  @media @mobile {
    padding: 0 15px;
    font-size: 16px;
    font-family: @block-graphics;
  }
}

.hed-wrapper {
  margin-top: 50px;
  color: @dark-gray-blue;
  @media @mobile {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 15px;
    color: darken(@gray-blue,25%);
    background: rgba(255,255,255,0.8);
  }
  .hed {
    font-family: @bold-graphics;
    font-size: 30px;
    max-width: 450px;
    margin: auto;
    line-height:1.4;
    @media @tablet {
      font-size: 25px;
    }
    @media @mobile {
      font-size: 25px;
    }
  }
  // &.desktop {
  //   @media @mobile {
  //     display: none;
  //   }
  // }
  // &.mobile {
  //   display: none;
  //   @media @mobile {
  //     display: block;
  //   }
  // }
}


body {
  pointer-events: all;
}

#map {
  pointer-events: all;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: 0;
  cursor: auto;
  @media @tablet {
    width: 100%;
  }
  @media @mobile {
    top: 0;
    z-index: -1;
  }
  // @media @mobile {
  //   position: relative;
  //   height: 100vh;
  //   margin: auto;
  //   // top: 400px;
  // }
}

.instructions {
  text-align: center;
  padding-top: 50px;
  font-size: 16px;
  color: @dark-gray-blue;
  font-family: @bold-graphics;
  .fa {
    font-size: 30px;
  }
  @media @mobile {
    background: rgba(255,255,255,0.8);
    padding-top: 10px;
    padding-bottom: 20px;
  }
}


// leaflet styles --------------------------------------------------------------

.leaflet-popup-content{
  margin: 10px 5px;
  width:auto;
  max-width:240px;
  font-family: @df-sans;
}

.leaflet-popup-content-wrapper {
  border-radius:3px;
  max-width:240px;
  box-shadow: 0 1px 14px rgba(0,0,0,0.30);
  padding-left:10px;
  padding-right:10px;
}

.leaflet-control-zoom {
  display: none;
}

// link-styles -----------------------------------------------------------------

.link-instructions {
  position: relative;
  // text-align: left;
  max-width: 800px;
  margin:auto;
  color: black;
  font-family: @med-graphics;
  font-size: 18px;
  text-align: center;
  padding-top: 30px;
}

.link-container {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 16px;
}

.link-button {
  position: relative;
  display: inline-block;
  max-width: 900px;
  width: 40%;
  @media @tablet-horiz {
    width: 48%;
  }
  @media @tablet {
    width: 80%;
    margin-top: 10px;
  }
  @media @mobile {
    width: 90%;
  }
  height: 100%;
  text-align: center;
  // font-size: 16px;
  margin: auto;
  cursor: pointer;
  background: @dark-gray;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: @white;
    padding: 10px 100px;
    @media @tablet-horiz {
      padding: 10px 50px;
    }
    @media @tablet {
      padding: 10px;
    }
  }
  .bold {
    font-family: @med-graphics;
    font-size: 18px;
    padding-bottom: 5px;
    // text-decoration: underline;
    padding-left: 20px;
    @media @tablet {
      font-size: 16px;
    }
    &:hover {
      color: @dark-gray;
    }
  }
  text-align: center;
  @media @mobile {
    font-size: 14px;
  }
  border: 2px solid white;
  &:hover {
    background: rgba(255,255,255,0.8);
    a {
      color: @dark-gray;
      // font-family: @med-graphics;
    }
    border: 2px solid @dark-gray;
  }
  // background: rgba(255,255,255,0.3);
  // width: 60%;
  margin: auto;
}

.bottom-of-page {
  position: relative;
  width: 100%;
  background: rgba(255,255,255,0.7);
}

// credits ---------------------------------------------------------------------

.credits {
  position: relative;
  font-family: @bold-graphics;
  font-size: 14px;
  padding: 50px 0;
  // padding-top: 100px;
  .entry {
    padding: 0;
    padding-bottom: 15px;
    a {
      color: @dark-red;
    }
  }
  @media @mobile {
    padding: 30px 20px;
  }
}

.divider {
  padding-top:50px;
  width: 60%;
  margin: auto;
  border-bottom: 1px @dark-gray solid;
  height: 2px;
}

// select styles ---------------------------------------------------------------

.dropdown {
  text-align: center;
  font-size: 15px;
  margin-top: 5px;

  select {
    margin-left: 3px;
    width: 100px;
    font-family: @block-graphics;
    font-size: 14px;
  }
}

.controls {
  padding-top: 10px;
  text-align: center;
  display: block;
  padding-left: 20px;
}
.start, .pause {
  border-radius: 7px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  color: darken(@gray-blue,20%);
  background: @light-gray;
  padding: 5px 10px 4px 10px;

  &:hover {
    background: darken(@gray-blue,20%);
    color: white;
  }

  &.selected {
    color: @black;
    cursor: default;
    background: darken(@gray-blue,20%);
  }
}

.button {
  border: 2px solid white;
  color: white;
  padding: 5px 20px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  font-family: @med-graphics;
  border-radius: 5px;
  width: 200px;
  &:hover {
    background: @dark-gray;
    cursor: pointer;
  }
  &.selected {
    color: white;
    cursor: default;
    background: @dark-gray;
  }
}
