@blue: #E32B2B;//#3C87CF;

body {
  font-family: @block-graphics;
}

.map-container {
  position: relative;
  .protest-box {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 10%;
    max-width: 300px;
    background: white;
    text-align: left;
    font-size: 12px;
    opacity: 0.8;
    // .protest-day {
    //   padding-bottom: 10px;
    // }
    .protest-name {
      font-size: 14px;
      font-family: @med-graphics;
      border-bottom: 1px solid black;
    }
    .protest-damages {
      padding-bottom: 10px;
    }
    .bold-class {
      font-family: @med-graphics;
    }
  }
}

.day, .display-day {
  font-family: @boldest-graphics;
  color: darken(@blue,10%);
  text-align: center;
  padding-bottom: 30px;
}

.logo-link {
  padding-top: 9px;
}

.chatter {
  max-width: 900px;
  @media @mobile {
    padding: 25px 15px;
  }
  // @media @tablet-horiz {
  //   padding: 0 20px;
  // }
}

.hed-wrapper {
  margin-top: 80px;
  .hed {
    font-family: @bold-graphics;
    font-size: 30px;
  }
}


svg {
  pointer-events: all;
}

#map {
  width: 80%;
  height: 500px;
  margin: auto;
  z-index: 0;
  @media @tablet {
    width: 100%;
  }
  @media @mobile {
    width: 300px;
    height: 250px;
    margin: auto;
  }
}


// leaflet styles --------------------------------------------------------------

.leaflet-popup-content{
  margin: 10px 5px;
  width:auto;
  max-width:240px;
  font-family: @df-sans;
}

.leaflet-popup-content-wrapper {
  border-radius:3px;
  max-width:240px;
  box-shadow: 0 1px 14px rgba(0,0,0,0.30);
  // text-align:center;
  padding-left:10px;
  padding-right:10px;
}

.leaflet-control-zoom {
  display: none;
}
