<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet-src.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="hed-wrapper mobile">
      <div class="hed">Protest during the Trump presidency</div>
      <div class="chatter">The bay area erupted into protests as soon as President Trump was inaugurated and the protests show no sign of abating. We track the protests each day of Trump's presidency.</div>
    </div>

    <div class="map-container">
      <div id="map"></div>
    </div>
    <div class="tooltip-map"></div>

    <div class="top-container">

      <div class="hed-wrapper">
        <div class="hed">Protest during the Trump presidency</div>
        <div class="chatter">The bay area erupted into protests as soon as President Trump was inaugurated and the protests show no sign of abating. We track the protests each day of Trump's presidency.</div>
      </div>

      <div class="instructions">Scroll to see the protests each day.
        <div class="arrow"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>

      </div>

    </div>
    <div id="bottom-of-top"></div>


    <div class="protest-box">
    <% var prevDay = 0; %>
    <div class="map-panel" id="mapday1"></div>
    <% json.Protests.forEach(function(d,dIDX){ %>
      <% if (prevDay != d.Day) { %>
        <% if (d.Day > 1) { %>
          </div>
          <div class="map-panel" id="mapday<%=d.Day%>"></div>
        <% } %>
        <div class="day-panel" id="panel<%=d.Day%>"><div class="day-hed">Day <%=d.Day%>, <%=d.Date%></div>
      <% } %>
      <% prevDay = d.Day; %>
      <div class='protest-day'>
        <div class='protest-name'><%=d.Location%>, <%=d.Date%></div>
        <div class='protest-desc'><%=d.Descriptor%></div>
      </div>
    <% }); %>
    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var protestData = <%= JSON.stringify(json.Protests) %>
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
