<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet-src.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="map-container">
      <div id="map"></div>
    </div>
    <div class="tooltip-map"></div>

    <div class="top-container">

      <div class="hed-wrapper">
        <div class="hed">Protest in the first 100 days of Trump</div>
        <div class="byline">By <a href="mailto:mbodley@sfchronicle.com">Michael Bodley</a> and <a href="mailto:mbodley@sfchronicle.com">Emma O'Neill</a></div>
        <%= t.include("partials/_title_social.html") %>
        <div class="chatter">The bay area erupted into protests as soon as President Trump was inaugurated and have continued throughout his first 100 days in office. We track the protests each day of Trump's presidency. This is going to be re-written to be better.</div>
      </div>

      <div class="instructions">Scroll to see the protests each day.
        <div class="arrow"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>

      </div>

    </div>
    <div id="bottom-of-top"></div>

    <div class="day" id="day-box">Day <span id="display-day"></span></div>


    <div class="protest-box">
    <% json.Protests.forEach(function(d,dIDX){ %>
      <div class=" day-panel map-panel active" id="mapevent<%=dIDX%>">
        <div class='protest-day'>
          <div class='protest-name'><%=d.Location%>, <%=d.Date%> <a class="related-link" href="<%=d.RelatedLink%>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
          <div class='protest-desc'><%=d.Descriptor%></div>
          <div class='protest-numbers'><span class='bold-class'>Numbers: </span><%=d.Numbers%></div>
          <div class='protest-arrests'><span class='bold-class'>Arrests: </span><%=d.Arrests%></div>
          <div class='protest-damages'><span class='bold-class'>Damages: </span><%=d.Damages%></div>
        </div>
      </div>
    <% }); %>
    </div>
    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var protestData = <%= JSON.stringify(json.Protests) %>
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
