<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet-src.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <%= t.include("partials/_nav.html") %>

    <div class="map-container">
      <div id="map"></div>
    </div>

    <div class="top-container">

      <div class="hed-wrapper">
        <div class="hed">100 days of Trump, plenty of Bay Area protests</div>
        <div class="byline">By <a href="mailto:mbodley@sfchronicle.com">Michael Bodley</a> and <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a></div>
        <%= t.include("partials/_title_social.html") %>
        <div class="chatter">Even for the Bay Area, long the United States' hotbed of progressive activism, the first 100 days of the Trump administration brought a level of protest not seen in generations. Thousands of people who had never in their lives held a picket sign or bellowed “this is what democracy looks like” marched through the streets of San Francisco, Oakland, Berkeley, San Jose and other bay area cities to protest the policy prescriptions championed by Trump. It’s called the resistance and it’s not going away.</div>
      </div>

      <div class="instructions">Scroll down to see the protests so far.
        <div class="arrow"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>

      </div>

    </div>
    <div id="bottom-of-top"></div>

    <div class="day" id="day-box">Day <span id="display-day"></span></div>


    <div class="protest-box">
    <% json.Protests.forEach(function(d,dIDX){ %>
      <div class=" day-panel map-panel active" id="mapevent<%=dIDX%>">
        <div class='protest-day'>
          <div class='protest-name'><%=d.Location%>, <%=d.Date%> <a class="related-link" href="<%=d.RelatedLink%>" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></div>
          <div class='protest-desc'><%=d.Descriptor%></div>
          <div class='protest-numbers'><span class='bold-class'>Numbers: </span><%=d.Numbers%></div>
          <div class='protest-arrests'><span class='bold-class'>Arrests: </span><%=d.Arrests%></div>
          <div class='protest-damages'><span class='bold-class'>Damages: </span><%=d.Damages%></div>
        </div>
      </div>
    <% }); %>
    </div>
    </div>

    <div id="top-of-bottom"></div>
    <div class="bottom-of-page">
      <div class="link-instructions">Trump's first 100 days:</div>
      <div class="link-container">
        <div class="link-button"><a href="http://projects.sfchronicle.com/2017/trump-era/" target="_blank"><div class="bold">Story: Trump protests</div> Read about protests in the bay area</a></div>
        <div class="link-button"><a href="http://projects.sfchronicle.com/2017/trump-era/" target="_blank"><div class="bold">Interactive: Trump era</div> Track Trump's time in office</a></div>
      </div>


    <%= t.include("partials/_footer.html") %>

    </div>

    <script>
      var protestData = <%= JSON.stringify(json.Protests) %>
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
